extends layout

block content
    .row.m-0
      .col-sm-12.m-0.p-sm-0
        .card.bg-secondary.shadow.m-0
          .card-header.bg-white.border-0.d-inline-block
            .row.align-items-center
              .col-8
                h1.mb-0.d-none.d-md-inline-block Employee New Information 
                h1.d-sm-inline-block.d-md-none.d-xl-none Information 
              .col-4.text-right
                a.btn.btn-sm.btn-primary(href='/data',id="em_btn") Data
          .card-body
            form.needs-validation(id='employ',novalidate)
              h6.heading-small.text-muted.mb-4 Employee Information
              .pl-lg-4
                .row
                  .col-lg-6
                    .form-group.focused
                      label.form-control-label(for='input_EMID') EmployeeID
                      a.btn.btn-sm.btn-primary.form-control.form-control-alternative(href='#',id="show_id") E--
                  .col-lg-6
                    .form-group
                      label.form-control-label(for='input_ID') CARD ID
                      input#input-email.form-control.form-control-alternative(type='number', placeholder='--',name='input_ID',required)
                .row
                  .col-lg-6
                    .form-group.focused
                      label.form-control-label(for='input_firstname') First name
                      input#input-username.form-control.form-control-alternative(type='text', placeholder='First name',name='input_firstname',required)
                  .col-lg-6
                    .form-group
                      label.form-control-label(for='input_lastname') Last name
                      input#input-email.form-control.form-control-alternative(type='text', placeholder='Last name',name='input_lastname',required)      
                .row
                  .col-lg-6
                    .form-group.focused
                      label.form-control-label(for='input_Phone') Phone
                      input#input-first-name.form-control.form-control-alternative(type='text', placeholder='',name='phone')
                  .col-lg-3
                    .form-group.focused(style="margin-top:11px")
                      label.form-control-label.d-block Date of Birth
                        .input-group.input-group-alternative.mb-4
                          .input-group-prepend
                            span.input-group-text
                              i.fas.fa-clock
                          input.form-control.form-control-alternative.datepicker-here(type='text',data-language='en',name='dob')  
                  .col-lg-3
                    .form-group.focused
                      label.form-control-label(for='input-Gender') Gender
                      select#inputState.form-control(name='gender')
                        option(selected='',value='N') Choose...
                        option(value='M') Male
                        option(value='F') Female
                        
                  
                .row               
                  .col-lg-6
                    .form-group.focused
                      label.form-control-label(for='input-status') Status
                      select#inputState.form-control(name='status')
                        option(selected='',value='N') Choose...
                        option(value='Work') Work
                        option(value='Vacation') Vacation
                        option(value='Leave') Leave                              
                  .col-lg-3
                    .form-group.focused
                      label.form-control-label(for='input-Nationality') Nationality
                      select#inputState.form-control(name='Nationality')
                        option(selected='',value='N') Choose...
                        option(value='thai') Thai
                        option(value='british') British
                        option(value='cambodian') Cambodian
                        option(value='canadian') Canadian
                        option(value='chinese') Chinese 
                  .col-lg-3
                    .form-group.focused
                      label.form-control-label(for='input-Marital') Marital
                      select#inputState.form-control(name='Marital')
                        option(selected='',value='N') Choose...
                        option(value='Y') Yes
                        option(value='N') No     
                           
              hr.my-4
              // Address 
              h6.heading-small.text-muted.mb-4 Contact information
              .pl-lg-4
                .row
                  .col-md-12
                    .form-group.focused
                      label.form-control-label(for='input-address') Address
                      input#input-address.form-control.form-control-alternative(placeholder='Home Address', value='Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09', type='text')
                .row
                  .col-lg-4
                    .form-group.focused
                      label.form-control-label(for='input-city') City
                      input#input-city.form-control.form-control-alternative(type='text', placeholder='City', value='BangKhae')
                  .col-lg-4
                    .form-group.focused
                      label.form-control-label(for='input-country') Country
                      input#input-country.form-control.form-control-alternative(type='text', placeholder='Country', value='Bangkok')
                  .col-lg-4
                    .form-group
                      label.form-control-label(for='input-country') Postal code
                      input#input-postal-code.form-control.form-control-alternative(type='number', placeholder='Postal code')
              hr.my-4
              // Description 
              h6.heading-small.text-muted.mb-4 Position
              .pl-lg-4
                .form-group.focused
                  .row
                    .col-lg-6
                      .form-group.focused
                        label.form-control-label(for='input-PID') PositionID
                        input#input-username.form-control.form-control-alternative(type='text', placeholder='P001')
                    .col-lg-6
                      .form-group.focused
                        label.form-control-label(for='input-PID') Standard Salary
                        input#input-username.form-control.form-control-alternative(type='Number', placeholder='100',name='s_salary')    
                  .row
                    .col-lg-6
                      .form-group.focused
                        label.form-control-label(for='input-Depart') Department
                        select#inputState.form-control
                          option(selected='',value='N') Choose...
                          option Production
                          option Research and Development    
                          option Purchasing    
                          option Marketing    
                          option Human Resource Management
                    .col-lg-6
                      .form-group.focused
                        label.form-control-label(for='input-Position') Position
                        select#inputState.form-control
                          option(selected='',value='N') Choose...
                          option Manager
                          option Header          
              .text-right
                button.btn.btn-danger.mr-4(type='submit') Submit   
                                
                  