extends layout

block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css")
    link(rel='stylesheet', href='/resources/hexagon/hexagon.css')
    section.section.text-center
      .section-header
        h1 Summay Board
    .header-body
      #container.hx-group.hx-horizontal
        .card.card-stats.mb-4.mb-xl-0.hx-drag-element.hx-section.hx-pad(data-id='green')
          .card-body
                .row
                  .col
                    h5.card-title.text-uppercase.text-muted.mb-0 Start Time
                    span.h2.font-weight-bold.mb-0.text-danger(id="start_time")
                  .col-auto
                    .icon.icon-shape.bg-danger.text-white.rounded-circle.shadow
                      i.fas.fa-clock
                p.mt-3.mb-0.text-muted.text-sm(id="start_time_max")
        .card.card-stats.mb-4.mb-xl-0.hx-drag-element.hx-section.hx-pad(data-id='yellow')
          .card-body
                .row
                  .col
                    h5.card-title.text-uppercase.text-muted.mb-0 End Time
                    span.h2.font-weight-bold.mb-0.text-danger(id="end_time")
                  .col-auto
                    .icon.icon-shape.bg-warning.text-white.rounded-circle.shadow
                      i.fas.fa-clock
                p.mt-3.mb-0.text-muted.text-sm(id="end_time_max")
        .card.card-stats.mb-4.mb-xl-0.hx-drag-element.hx-section.hx-pad(data-id='red')
          .card-body
            .row
              .col
                h5.card-title.text-uppercase.text-muted.mb-0 OT & Late This month
                span.h2.font-weight-bold.mb-0.text-success(id="ot")
              .col-auto
                .icon.icon-shape.bg-info.text-white.rounded-circle.shadow
                  i.fas.fa-percent
            p.mt-1.mb-0.text-muted.text-sm(id="ot_late_text")
            p.mt-0.mb-0.text-muted.text-sm(id="ot_late_text2")
        .card.card-stats.mb-4.mb-xl-0.hx-drag-element.hx-section.hx-pad(data-id='yellow')
          .card-body
                .row
                  .col
                    h5.card-title.text-uppercase.text-muted.mb-3 Absent this Month
                    span.h2.font-weight-bold.mb-0.text-danger(id="absent")
                  .col-auto
                    .icon.icon-shape.bg-danger.text-white.rounded-circle.shadow
                      i.fas.fa-running
    
      // Card stats 
      .row.mt-3
        .col-xl-8.my-auto
          .card.bg-gradient-default.shadow
            .card-header.bg-transparent(style="border-bottom-color:transparent;")
              .row.align-items-center
                .col
                  h6.text-uppercase.text-light.ls-1.mb-1 Overview
                  h2.text-white.mb-0 Bonus Value
            .card-body
                  canvas#bar-chart.chart-canvas  
        .col-xl-4
          .card.mb-0
            .card-header.bg-transparent(style="border-bottom-color:transparent;")
              .row.align-items-center
                .col
                  h6.text-uppercase.text-light.ls-1.mb-1.text-danger Overview
                  h2.mb-0.text-danger Code Count
            .card-body
                  canvas#code.chart-canvas
          .card.mt-1
            .card-header.bg-transparent(style="border-bottom-color:transparent;")
              .row.align-items-center
                .col
                  h6.text-uppercase.text-light.ls-1.mb-1.text-danger Overview
                  h2.mb-0.text-danger Salary
            .card-body
                  canvas#salary.chart-canvas
      #container2.hx-group.hx-vertical
        .card.card-stats.mb-4.mb-xl-0.hx-drag-element.hx-section.hx-pad(data-id='green')
          .card-body
            .row
              .col
                h5.card-title.text-uppercase.text-muted.mb-0 LastCompany Work
                span.h2.font-weight-bold.mb-0.text-danger(id="end_time")
              .col-auto
                .icon.icon-shape.bg-warning.text-white.rounded-circle.shadow
                  i.fas.fa-arrow-up 
              canvas#lastcom.chart-canvas(width="500",height="100")
        .card.card-stats.mb-4.mb-xl-0.hx-drag-element.hx-section.hx-pad(data-id='red')
          .card-body
            .row
              .col
                h5.card-title.text-uppercase.text-muted.mb-0 Nationality
                span.h2.font-weight-bold.mb-0.text-success(id="Nation")
              .col-auto
                .icon.icon-shape.bg-info.text-white.rounded-circle.shadow
                  i.fas.fa-percent
              canvas#nation.chart-canvas(width="500",height="100")
        .card.card-stats.mb-4.mb-xl-0.hx-drag-element.hx-section.hx-pad(data-id='yellow')
          .card-body
                .row
                  .col
                    h5.card-title.text-uppercase.text-muted.mb-0 Status Marital
                    span.h1.font-weight-bold.mb-0.text-danger(id="Marital")
                  .col-auto
                    .icon.icon-shape.bg-warning.text-white.rounded-circle.shadow
                      i.fas.fa-male
                p.mt-2.mb-0.text-muted.text-sm(id="Marital_text")      
        .card.card-stats.mb-4.mb-xl-0.hx-drag-element.hx-section.hx-pad(data-id='yellow')
          .card-body
                .row
                  .col
                    h5.card-title.text-uppercase.text-muted.mb-0 GPAX
                    span.h1.font-weight-bold.mb-0.text-danger(id="GPAX")
                  .col-auto
                    .icon.icon-shape.bg-success.text-white.rounded-circle.shadow
                      i.fas.fa-graduation-cap
                p.mt-2.mb-0.text-muted.text-sm(id="GPAX_text")
        .card.card-stats.mb-4.mb-xl-0.hx-drag-element.hx-section.hx-pad(data-id='red')
          .card-body
            .row
              .col
                h5.card-title.text-uppercase.text-muted.mb-0 Degree
                span.h2.font-weight-bold.mb-0.text-success(id="Degree")
              .col-auto
                .icon.icon-shape.bg-warning.text-white.rounded-circle.shadow
                  i.fas.fa-graduation-cap
              canvas#degree.chart-canvas(width="500",height="100")
        //- .card.card-stats.mb-4.mb-xl-0.hx-drag-element.hx-section.hx-pad(data-id='yellow')
        //-   .card-body
        //-         .row
        //-           .col
        //-             h5.card-title.text-uppercase.text-muted.mb-0 Absent this Month
        //-             span.h1.font-weight-bold.mb-0.text-danger(id="absent")
        //-           .col-auto
        //-             .icon.icon-shape.bg-danger.text-white.rounded-circle.shadow
        //-               i.fas.fa-running                             
        .card.card-stats.mb-4.mb-xl-0.hx-drag-element.hx-section.hx-pad(data-id='yellow')
          .card-body
                .row
                  .col
                    h5.card-title.text-uppercase.text-muted.mb-0 Gender
                    span.h1.font-weight-bold.mb-0.text-danger(id="gender")
                  .col-auto
                    .icon.icon-shape.bg-danger.text-white.rounded-circle.shadow
                      i.fas.fa-running
        .card.card-stats.mb-4.mb-xl-0.hx-drag-element.hx-section.hx-pad.shadow
          .card-header.border-0
            .row.align-items-center
              .col
                h3.mb-0 Year Resign
          .table-responsive
            // Projects table 
            table.table.align-items-center.table-flush
              thead.thead-light
                tr
                  th(scope='col') Referral
                  th(scope='col') Visitors
                  th(scope='col') status  
              tbody
              for info in lasthist
                tr
                  td(scope='row') #{info.EM_id}
                  td #{info.Year_resign}
                  td
                    .d-flex.align-items-center
                      span.mr-2 100%
                      div
                        .progress
                          .progress-bar.bg-gradient-success(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
        .card.card-stats.mb-4.mb-xl-0.hx-drag-element.hx-section.hx-pad
          .card-body
            .row
              .col
                h5.card-title.text-uppercase.text-muted.mb-0 Age
                span.h2.font-weight-bold.mb-0.text-success(id="Degree")
              .col-auto
                .icon.icon-shape.bg-warning.text-white.rounded-circle.shadow
                  i.fas.fa-graduation-cap
              canvas#age_chart.chart-canvas(width="500",height="100")                                           
      // Footer 
      footer.footer
        .row.align-items-center.justify-content-xl-between
          .col-xl-6
            .copyright.text-center.text-xl-left.text-muted
              | © 2018
              a.font-weight-bold.ml-1(href='#', target='_blank') New
          .col-xl-6
            ul.nav.nav-footer.justify-content-center.justify-content-xl-end
              li.nav-item
                a.nav-link(href='#', target='_blank') New
              li.nav-item
                a.nav-link(href='#', target='_blank') About Us
              li.nav-item
                a.nav-link(href='#', target='_blank') Blog
              li.nav-item
                a.nav-link(href='#', target='_blank') MIT License
    script(src='https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes@latest/dist/chartjs-plugin-colorschemes.min.js')
    script(src='/resources/hexagon/hexagon.js') 
    script(src="/javascripts/home_js.js") 
    script(src="/javascripts/underscore-min.js") 

