extends layout

block content
    section.section
      .section-header
        h1 Summay Board
      .card.card-statistic-2
        .card-chart
        .card-icon.shadow-primary.bg-info
          i.fas.fa-dollar-sign
        .card-wrap
          .card-header
            h4 Balance
          .card-body
            | $187,13
      .card.card-statistic-2
        .card-chart
        .card-icon.shadow-primary.bg-primary
          i.fas.fa-user
        .card-wrap
          .card-header
            h4 Balance
          .card-body
            | $187,13
      .card.card-statistic-2
        .card-chart
        .card-icon.shadow-primary.bg-info
          i.fa.fa-address-book(style='color:white')
        .card-wrap
          .card-header
            h4 Balance
          .card-body
            | $187,13
