extends ../layout

block content
    .row.m-0
      .col-sm-12.m-0
        .card.bg-secondary.shadow.m-0
          .card-header.bg-white.border-0
            .row.align-items-center
              .col-12
                h1.mb-0.d-none.d-md-inline-block Activity Statement  
                h1.d-sm-inline-block.d-md-none.d-xl-none Activity 
          .card-body
            form.needs-validation(id='detail',novalidate)
              h6.heading-small.text-muted.mb-4 Activity Statement  
              .pl-lg-4
                .row
                  .col-lg-12
                    .form-group.focused
                      label.form-control-label(for='input_act_name') Activity name
                      .input-group.input-group-alternative
                        .input-group-prepend
                          span.input-group-text
                        input#input-username.form-control.form-control-alternative(type='text', placeholder='Activity name',name='Act_name',required)
                .row
                  .col-lg-6
                    .col-lg-6
                    .form-group.focused
                      label.form-control-label Start date
                      .input-group.input-group-alternative
                        .input-group-prepend
                          span.input-group-text
                            i.fas.fa-clock
                        input.form-control.form-control-alternative.datepicker-here(type='text',data-timepicker='true', data-language='en',name='Start_date',placeholder="Time",required,data-time-format='hh:ii')
                  .col-lg-6
                    .col-lg-6
                    .form-group.focused
                      label.form-control-label End date
                      .input-group.input-group-alternative
                        .input-group-prepend
                          span.input-group-text
                            i.fas.fa-clock
                        input.form-control.form-control-alternative.datepicker-here(type='text',data-timepicker='true', data-language='en',name='End_date',placeholder="Time",data-time-format='hh:ii')
                .row
                  .col-lg-6
                    .form-group.focused
                      label.form-control-label(for='input_header') Header
                      .input-group.input-group-alternative
                        .input-group-prepend
                          span.input-group-text
                        input#input-username.form-control.form-control-alternative(type='text',name='header',required,onfocus="this.value=''", placeholder='E001' )
                  .col-lg-6
                    .form-group
                      label.form-control-label(for='input_budget') Budget
                      .input-group.input-group-alternative
                        .input-group-prepend
                          span.input-group-text
                        input#input-email.form-control.form-control-alternative(type='number', placeholder='----',name='budget',required)
                .row
                  .col-lg-6
                    .form-group.focused
                      label.form-control-label(for='input_co_h1') Co - header 1
                      .input-group.input-group-alternative
                        .input-group-prepend
                          span.input-group-text
                        input#input-username.form-control.form-control-alternative(type='text',name='input_co_h1', placeholder='E001',required)
                  .col-lg-6
                    .form-group.focused
                      label.form-control-label(for='input_co_h2') Co - header 2
                      .input-group.input-group-alternative
                        .input-group-prepend
                          span.input-group-text
                        input#input-username.form-control.form-control-alternative(type='text',name='input_co_h2', placeholder='E001')
                .row
                  .col-lg-6
                    .form-group.focused
                      label.form-control-label(for='input_co_h3') Co - header 3
                      .input-group.input-group-alternative
                        .input-group-prepend
                          span.input-group-text
                        input#input-username.form-control.form-control-alternative(type='text',name='input_co_h3',onfocus="this.value=''" , placeholder='E001')
                  
              
              hr.my-4
              // Code
              h6.heading-small.text-muted.mb-4 Code statement
              .pl-lg-4
                .row
                  .col-lg-12
                    .form-group.focused
                      label.form-control-label(for='input_code_des') Code description
                      .input-group.input-group-alternative
                        .input-group-prepend
                          span.input-group-text
                        input#input-username.form-control.form-control-alternative(type='text',name='input_code_des',onfocus="this.value=''" , placeholder='C001')
                .row
                  .col-lg-6
                    .form-group.focused
                      label.form-control-label(for='input_cost') Cost
                      .input-group.input-group-alternative
                        .input-group-prepend
                          span.input-group-text
                        input#input-email.form-control.form-control-alternative(type='number', placeholder='----',name='input_cost')
                .row                
                  .col-lg-4
                  .col-lg-4
                  .col-lg-4
                    button.btn.btn-block.btn-warning.mb-3(type='submit') Save
                    button.btn.btn-block.btn-warning.mb-3.d-none(type='button', data-toggle='modal', data-target='#modal-notification',id="button_save") Save
                    .modal.fade#modal-notification(tabindex='-1', role='dialog', aria-labelledby='modal-notification', style='display: none;', aria-hidden='true')
                      .modal-dialog.modal-danger.modal-dialog-centered.modal-(role='document')
                        .modal-content.bg-gradient-danger
                          .modal-header
                            h6.modal-title#modal-title-notification Your attention is required
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              span(aria-hidden='true') ×
                          .modal-body
                            .py-3.text-center
                              i.ni.ni-bell-55.ni-3x
                              h4.heading.mt-4 Please Make Sure Be for Save!
                              p(id="new") -
                          .modal-footer
                            button.btn.btn-white(type='submit', data-dismiss='modal',id="form_click") Ok, Got it
                  script(src='/javascripts/act_detail.js')   
                              
                