.navbar-bg2
nav.navbar.navbar-expand-lg.main-navbar.mx-0(id="top_bar",style="width:80%;")
    form.form-inline
        ul.navbar-nav.mr-3
          li
            a.nav-link.nav-link-lg(href='#', data-toggle='sidebar')
              i.fas.fa-bars
.main-sidebar.sidebar-style-2(tabindex='1', style='overflow: hidden; outline: none;')
    aside#sidebar-wrapper(style="background-color:white")
        .sidebar-brand
          a(href='/') HUMAN RESOURCE
        .sidebar-brand.sidebar-brand-sm
          a(href='/') HR
        ul.sidebar-menu
            li.menu-header HomePage
            li(class=(title === 'Home') ? 'active':undefined)
                a.nav-link(href='/')
                  i.fas.fa-home
                  span HomePage
            li.menu-header Update
            li(class=(title === 'Information') ? 'active':undefined)
                a#education.nav-link(href='/information')
                  i.fas.fa-users
                  span Employee
            li(class=(title === 'Statement') ? 'active':undefined)
                a#education.nav-link(href='/statement')
                  i.fas.fa-comment-dollar
                  span Statement
            li(class=(title === 'Experience') ? 'active':undefined)
                a#education.nav-link(href='/experience')
                  i.fas.fa-graduation-cap
                  span Experience 
            li(class=(title === 'ActivityReg') ? 'active':undefined)
                a#education.nav-link(href='/activityrigistor')
                  i.fas.fa-map-marker-alt
                  span Activity Register 
            li(class=(title === 'ActivityStat') ? 'active':undefined)
                a#education.nav-link(href='/activitystat')
                  i.fas.fa-calendar-plus
                  span Activity Statement 
            li.menu-header View Data
            li(class=(title === 'Data') ? 'active':undefined)
                a#education.nav-link(href='/data')
                  i.fas.fa-database 
                  span Data                  